*.iml
*.abb
*.apk
.abb
.apk
.gradle
/app/build/
/app/release/
/app/build/*
/app/release/*
app/build/
app/release/
app/build/*
app/release/*
gradle/
gradle/*
/gradle/
/gradle/*
/build/
build/
/build/*
build/*
build/build.xml
app/release/output-metadata.json
/local.properties
.idea
/.idea
*.log
/.idea/*
/.idea/gradle.xml
/.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/misc.xml
.DS_Store
/release
/captures
.externalNativeBuild
.cxx
local.properties